* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button {
    font-family: 'Lisu Bosa', serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Victor Mono', monospace;
}

header {
    padding: 16px 0;
    background-color: #310000;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    font-size: 24px;
}

header nav li {
    margin-left: 16px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-list img {
    height: 38px;
}

.link-list li {
    display: inline;
    margin-right: 8px;
}

.link-list li a {
    text-decoration: none;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px; /*#COMPLETE Não cria o espaçamento */   
}

section {
    color: #310000;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none; /*#COMPLETE Não sumiu o underline */
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, 
form textarea, 
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #310000;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #770000;
}

input:focus, textarea:focus {
    outline-color: #200000;
}

footer {
    background-color: #310000;
    color: #ecf0f1;
    padding: 16px 0;
}